* {
  box-sizing: border-box;
}

body {
  color: red;
  background: linear-gradient(to right, #222222, #888888);
}

#gameBody {
  margin: 30px;
  border: 10px solid;
  border-image: linear-gradient(45deg, #ffe53b, #ff2525 74%) 1;
  font-family: "Orbitron", sans-serif;
}

.row {
  height: 500px;
}

.badge {
  display: inline-block;
}
.banner {
  position: relative;
  height: 100%;
  text-align: center;
  align-items: center;
}

.banner p {
  position: relative;
  top: 10px;
  font-family: "Luckiest Guy", cursive;
  font-size: 60px;
  color: #333333;
}

#resultImage {
  max-height: 440px;
}

.resultPanel {
  display: grid;
  padding-top: 30px;
  font-size: 20px;
}
.resultPanel p {
  color: #333333;
  font-size: 50px;
  align-items: baseline;
}

h1 {
  letter-spacing: 2px;
  align-self: baseline;
  line-height: 219px;
  font-weight: 900;
}

#wins,
#losses {
  display: inline-block;
  background-size: cover;
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);

  background-position: center;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#bannerText {
  background-size: cover;
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);

  background-position: center;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#targetPoints {
  font-size: 80px;
  margin-left: 18px;
  color: darkgrey;
}

.diamond {
  min-height: 70px;
  min-width: 250px;
  display: block;
  margin: 20px;
  border: none;
  border-radius: 15px;
  animation: normal;
}

.diamond:hover {
  box-shadow: 0 8px 40px 0 white;
  width: 101%;
}

#button-red {
  animation: shineRed 1.2s infinite alternate;
}
#button-blue {
  animation: shineBlue 1.4s infinite alternate;
}
#button-yellow {
  animation: shineYellow 1.6s infinite alternate;
}
#button-green {
  animation: shineGreen 1.1s infinite alternate;
}

@keyframes shineRed {
  0% {
    background-color: #790e00;
  }
  100% {
    background-color: #ff4136;
  }
}

@keyframes shineBlue {
  0% {
    background-color: #00305f;
  }
  100% {
    background-color: #025feb;
  }
}
@keyframes shineYellow {
  0% {
    background-color: #888600;
  }
  100% {
    background-color: #ffee00;
  }
}
@keyframes shineGreen {
  0% {
    background-color: #004d26;
  }
  100% {
    background-color: #00c076;
  }
}

.progress {
  position: relative;

  height: 50px;
  border: 3px solid white;
}

.resultDiv {
  margin: 20px;
  min-height: 150px;
  display: grid;
  place-items: start;
}

#resultPoints {
  font-size: 13rem;
  flex-shrink: 1;
  color: #222222;
}

#resultWindow {
  display: grid;
  grid-template-rows: 2fr 5fr 1fr 1fr;

  flex-shrink: 1;
}

@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.heartBeat {
  -webkit-animation-name: heartBeat;
  animation-name: heartBeat;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}
